# Dictionary
1)-> Mutable
2)-> key-value form
3)-> no index number format
4)-> format: d={1(key) :3(value) ,'a:5 ,[1,2]:7 ,'c':[6,8,9]}
5)-. duplicate keys are not allowed while duplicate values are allowed

In [4]:
d=dict([('a',1),('b',2)])
print(type(d))

<class 'dict'>

In [5]:
d1={}
print(type(d1))

<class 'dict'>

In [28]:
d2={'name':'abc','age':25}
print(d2['age']) #access by key
print(d2['name'])
print(d2.get('age'))

25
abc
25

In [29]:
d={1:3,'a':5 ,2:7 ,'c':[6,8,9]}
print(d)
#key should be only int & string

{1: 3, 'a': 5, 2: 7, 'c': [6, 8, 9]}

In [30]:
# to update dictionary key and value 
# syntax: d2['key']='value'
d2['gender']='male'
print(d2)

{'name': 'abc', 'age': 25, 'gender': 'male'}

In [31]:
d2.pop('age')
print(d2)

{'name': 'abc', 'gender': 'male'}

In [32]:
d2.popitem()
print(d2)

{'name': 'abc'}

In [34]:
del d2['name']
print(d2)

{}

In [36]:
d2.clear()
print(d2)

{}

In [40]:
d2={'name':'abc','age':25}
'name' in d2

True

In [42]:
d2={'name':'abc','age':25}
for i in d2:
    print(i,'=',d2[i])

name = abc
age = 25

In [3]:
def sum(*n):
    t=0
    for i in n:
        t+=i
    print(i)
    print(type(t))
sum(10)
sum(10,20,30,40,50)

10
<class 'int'>
50
<class 'int'>

In [5]:
def display(**kwargs):
    for k,v in kwargs.items():
        print(k,'-',v)
display(m1=100,m2=200,m3=300)

m1 - 100
m2 - 200
m3 - 300

In [6]:
d={'name':'abc','age':25,'gender':'male'}
print(len(d))
print(sorted(d))
print(sorted(d,reverse=True))
print(max(d))
print(min(d))

3
['age', 'gender', 'name']
['name', 'gender', 'age']
name
age

In [7]:
d1={1:2,'a':3}
print(max(d1))
print(min(d1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [8]:
d2={'name':'abc','age':25}
print(d2.keys())
print(d2.values())
print(d2.items())

dict_keys(['name', 'age'])
dict_values(['abc', 25])
dict_items([('name', 'abc'), ('age', 25)])

In [12]:
d1={1:2,3:4}
d2={8:6,1:3,4:7}
d1.update(d2)
print(d1)

{1: 3, 3: 4, 8: 6, 4: 7}

In [16]:
d2={'name':'abc','age':25}
d2.setdefault('age',55)
print(d2)

d2.setdefault('age1',55)
print(d2)

{'name': 'abc', 'age': 25}
{'name': 'abc', 'age': 25, 'age1': 55}

NOT IN SYLLABUS

In [19]:
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [20]:
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [22]:
#WAP to print table of 1 to 10
{i:{j:i*j for j in range(1,11)} for i in range(1,11)}

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10},
 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50},
 6: {1: 6, 2: 12, 3: 18, 4: 24, 5: 30, 6: 36, 7: 42, 8: 48, 9: 54, 10: 60},
 7: {1: 7, 2: 14, 3: 21, 4: 28, 5: 35, 6: 42, 7: 49, 8: 56, 9: 63, 10: 70},
 8: {1: 8, 2: 16, 3: 24, 4: 32, 5: 40, 6: 48, 7: 56, 8: 64, 9: 72, 10: 80},
 9: {1: 9, 2: 18, 3: 27, 4: 36, 5: 45, 6: 54, 7: 63, 8: 72, 9: 81, 10: 90},
 10: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}}

--------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------

In [27]:
# WAP to entered string by user create a dictionary which key is starting character of word and value is how many times it comes
# i/p: s="asd bsg asp bcv cdv asg"
# o/p: {'a':5,'b':2,'c':1}
#                 &
#     {'a':['asd','asp','asg'], 'b':['bsg','bcv'],'c':['cdv']}

s="asd bsg asp bcv cdv asg"
spl=s.split()
d={}
for i in spl:
    d[i[0]]=d.get(i[0],0)+1
print(d)

{'a': 3, 'b': 2, 'c': 1}